  <form name="calendarform" role="form"  ng-submit="addEvent()">
    <div class="row">
      <div class="input-group">
        <input type="text" required ng-model="calendarinput.name" placeholder="Event Name" class="form-control"></input>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add"></input>
        </span>
      </div>
    </div>
    <br />
    <!-- Time Selectors-->
    <div class="row">
      <label>Start Time:
        <timepicker test-expression="$modal > endTime" ng-model="startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </label>
      <label>End Time:
      <timepicker ng-model="endTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </label>

    <!-- Repeat Dropdown -->
      <label>Repeat:
        <select ng-model="calendarinput.scheduleOption" ng-options="repeatOption.name for repeatOption in calendar.repeatOptions">
          <option value="">-- repeat --</option>
        </select>
      </label>
    <div>
  </form>
